<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <UI>
            <Dialog Id="ApplicationInfoDlg" Width="370" Height="270" Title="!(loc.LicenseAgreementDlg_Title)">
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.LicenseAgreementDlgBannerBitmap)" />
                <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
                <Control Id="Description" Type="Text" X="25" Y="23" Width="340" Height="15" Transparent="yes" NoPrefix="yes" Text="Please fill all the data fields below." />
                <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}Application Settings" />
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="Back">
                    <Publish Event="NewDialog" Value="LicenseAgreementDlg" Order="10" />
                </Control>
                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="Next">
                    <Publish Event="NewDialog" Value="CustomizeDlg" Order="10" />
                    <Condition Action="disable">
                        <![CDATA[STEAMACCOUNTNAME = "" OR STEAMACCOUNTPASSWORD = "" OR MQTTBROKERADDRESS = "" OR BOOTHID = ""]]>
                    </Condition>
                    <Condition Action="enable">
                        <![CDATA[STEAMACCOUNTNAME <> "" AND STEAMACCOUNTPASSWORD <> "" AND MQTTBROKERADDRESS <> "" AND BOOTHID <> ""]]>
                    </Condition>
                </Control>
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>
                <Control Type="Text" Id="SteamUserNameText" Width="85" Height="14" X="28" Y="73" Transparent="yes" Text="Steam Account Name:" />
                <Control Type="Edit" Id="SteamUserNameEdit" Width="134" Height="15" X="112" Y="71" Property="STEAMACCOUNTNAME" />
                <Control Type="Text" Id="SteamUserPasswordText" Width="98" Height="14" X="15" Y="96" Transparent="yes" Text="Steam Account Password:" />
                <Control Type="Edit" Id="SteamUserPasswordEdit" Width="134" Height="15" X="112" Y="94" Property="STEAMACCOUNTPASSWORD" Password="yes" />
                <Control Type="Text" Id="MqttBrokerAddressText" Width="87" Height="14" X="26" Y="138" Transparent="yes" Text="MQTT Broker Address:" />
                <Control Type="Edit" Id="MqttBrokerAddressEdit" Width="134" Height="15" X="112" Y="135" Property="MQTTBROKERADDRESS" />
                <Control Type="Text" Id="BoothIdText" Width="38" Height="10" X="74" Y="160" Transparent="yes" Text="Booth Id:" />
                <Control Type="MaskedEdit" Id="BoothIdMaskedEdit" Sunken="yes" Width="134" Height="15" X="112" Y="158" Property="BOOTHID" Text="[BoothIdMaskedEditTemplate]" />
            </Dialog>
        </UI>
    </Fragment>
</Wix>