<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Product Id="B40FA4B8-9CA6-4BD9-996B-14EF1BC4E378"
             Name="Actein PC Client" Language="1033" Version="1.0.0" Manufacturer="Actein"
             UpgradeCode="8B779266-F18C-4ACC-88AB-B1FBCF71EC63">

        <Package Id="*" Manufacturer="Actein"
                 Description="Actein's PC Client Installation"
                 Comments="This installer database contains the logic and data required to install Actein's PC Client. Actein is a registered trademark of Actein AS."
                 InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate EmbedCab="yes" />

        <Feature Id="ProductFeature" Title="Actein PC Client Application"
                 Description="Full installation" ConfigurableDirectory="INSTALLFOLDER" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
        </Feature>
        
        <Icon Id="actein_icon_original.ico"
              SourceFile="$(var.actein-pc-service-installer.ProjectDir)actein_icon_original.ico"/>

        <WixVariable Id="WixUIBannerBmp" Value="Resources/actein_logo_banner.png" />
        <WixVariable Id="WixUIDialogBmp" Value="Resources/actein_logo_dialog.png" />

        <Property Id="ARPPRODUCTICON" Value="actein_icon_original.ico" />
        <Property Id="STEAMACCOUNTNAME" Value="actein" />
        <Property Id="STEAMACCOUNTPASSWORD" Hidden="yes" />
        <Property Id="MQTTBROKERADDRESS" Value="iot.eclipse.org" />
        <Property Id="BOOTHID" Value="1" />
        <Property Id="BoothIdMaskedEditTemplate" Value="&lt;##&gt;" />

        <UI Id="WixUI_Main">
            <UIRef Id="WixUI_FeatureTreeCustom" />
            <UIRef Id="WixUI_ErrorProgressText" />
        </UI>

        <Condition Message="This application is only supported on Windows Vista, Windows Server 2008, or higher.">
            <![CDATA[Installed OR (VersionNT >= 600)]]>
        </Condition>

    </Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
                <Directory Id="CompanyNameFolder" Name="Actein">
				    <Directory Id="INSTALLFOLDER" Name="Actein PC Client" />
                </Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            
			<Component Id="ActeinServiceComponent" Guid="91A801C9-B13D-4E34-B19B-D9FD8AC81131">
                <File Id="ActeinServiceExe" Name="$(var.actein-pc-service.TargetFileName)"
                      Source="$(var.actein-pc-service.TargetPath)" KeyPath="yes" />
                <ServiceInstall Id="WixServiceInstaller" Type="ownProcess" Vital="yes"
                                Name="Actein Service" DisplayName="Actein Service"
                                Description="Manages the Steam VR games for Actein activity centers"
                                Start="auto" Account="LocalSystem" ErrorControl="normal"
                                Interactive="no">
                    <util:ServiceConfig FirstFailureActionType='restart'
                                        SecondFailureActionType='restart'
                                        ThirdFailureActionType='restart'
                                        RestartServiceDelayInSeconds='30' />
                </ServiceInstall>
                <ServiceControl Id="StartActeinService" Name="Actein Service"
                                Start="install" Stop="both" Remove="uninstall" Wait="yes" />
            </Component>
            
            <Component Id="PahoDllComponent" Guid="490F724F-ECFB-45B4-A24E-BED81B0EAEFF">
                <File Id="PahoDll" Name="paho-mqtt3a.dll"
                      Source="$(var.actein-pc-service.TargetDir)paho-mqtt3a.dll" KeyPath="yes" />
            </Component>
            
            <Component Id="ActeinServiceInstallerComponent" Guid="94AA0436-443C-473F-98F3-F3DB1DC34404">
                <File Id="ActeinServiceInstallerExe" Name="$(var.actein-pc-service-installer.TargetFileName)"
                      Source="$(var.actein-pc-service-installer.TargetPath)" KeyPath="yes" />
            </Component>
            
            <Component Id="ManageRegistryKeys" Guid="4676FC9B-983C-460C-88E1-4B64B31DC19A">
                <RegistryKey Root="HKLM" Key="Software\[Manufacturer]\[ProductName]">
                    <RegistryValue Type="string" Name="SteamAccountName" Value="[STEAMACCOUNTNAME]" />
                    <RegistryValue Type="string" Name="SteamAccountPassword" Value="[STEAMACCOUNTPASSWORD]" />
                    <RegistryValue Type="string" Name="MqttBrokerAddress" Value="[MQTTBROKERADDRESS]" KeyPath="yes" />
                    <RegistryValue Type="string" Name="BoothId" Value="[BOOTHID]" />
                </RegistryKey>
            </Component>
		
        </ComponentGroup>
	</Fragment>
</Wix>
